<html>
<head>
	<title><%= title %></title>
    
    <link rel="stylesheet" type="text/css" href="homepg.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Actor|Merienda|Slabo+27px&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9303a866dd.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div id="navbar">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" id="brand">Expense Manager</a>
     <a class="navbar-brand" id="home" href="/dashboard">Home</a>
      <a class="navbar-brand" id="add" href="/add" >Add</a>
        <a class="navbar-brand" id="view" href="/view" >View</a>
        <a class="navbar-brand" id="delete" href="/delete">Delete</a>
 <a href="/split" class="navbar-brand" id="split" >Split</a>        
 <a href="/logout" class="navbar-brand" id="logoutbtn" >Logout</a>          
 <form class="form-inline mt-3">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" id="search">Search</button>
</form>

  </nav>
</div>



