<% include ./partials/header2.ejs %>

<div class="alert alert-warning container mt-5" id="warningmsg"  role="alert">
 I am sorry but i don't think you have enough money to buy it.
</div>

<% include ./partials/footer.ejs %>