<% include ./partials/header2.ejs %>

<div class="alert alert-warning container mt-5" id="warningmsg"  role="alert">
 No such title exsist's in our database
</div>

<% include ./partials/footer.ejs %>