<% include ./partials/header.ejs %>

<div id="image">
</div>

<div id="box" >
</div>

<p id="heading" >Expense Manager</p>

<a class="btn btn-dark btn-lg" id="getst"  href="/register" ><i class="fas fa-dollar-sign"></i>  Get started</a>


<% include ./partials/footer.ejs %>
